/* Vars */
body {
  min-height: 100%;
  font-size: 1.25em;
  color: #cccccc;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-image: -moz-linear-gradient(45deg, #202020 25%, transparent 25%), -moz-linear-gradient(-45deg, #202020 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #202020 75%), -moz-linear-gradient(-45deg, #333333 75%, #202020 75%);
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #202020), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #202020), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, #202020)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, #333333), color-stop(0.75, #202020));
  -moz-background-size: 20px 20px;
  background-size: 20px 20px;
  -webkit-background-size: 20px 20px;
  /* override value for shitty webkit */
  background-position: 0 0, 50px 0, 50px -50px, 0px 50px;
}
.locale-selector {
  position: fixed;
  top: 10px;
  right: 10px;
}
.author {
  position: relative;
  font-size: 8pt;
  margin-left: 4px;
  top: 4px;
}
.value {
  font-style: italic;
}
.comments {
  display: block;
}
.comment {
  display: block;
  padding-left: 6px;
  padding-bottom: 8px;
}
.tabs {
  list-style: none;
  padding-left: 0px;
}
.tab {
  display: inline;
  border: 1px solid gray;
  padding: 5px;
  text-decoration: underline;
  background-color: white;
}
.active-tab {
  background-color: lightgray;
}
